seaweedfs_image: "chrislusf/seaweedfs:latest"
seaweedfs_s3_port: 8333
seaweedfs_master_port: 9333
seaweedfs_filer_port: 8888

seaweedfs_data_dir: "/mnt/data/seaweedfs"
seaweedfs_compose_dir: "/opt/seaweedfs"

seaweedfs_firewall_enabled: false
seaweedfs_allowed_cidr: "10.0.0.0/24"
